@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color_text-background: #4ddafd;
    --color_text-primary: #0494b8;
    --color_text-secundary: #035e88;
    --color_text-terciary: #041250;
    --color_text-quartiary: #003452;
    --color_text-p: #003452;
    --color_text-header: #00e1ffcb;
    --lowText_font_size: 16px;
    --text_paragraph: 25px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    background-color: var(--color_text-header);
}

.container_header{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 120px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: var(--color_text-terciary);
    font-size: 20px;
    position: relative;
}

.menu nav ul li a:hover{
    color: white;
}

.btn_quote{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_text-secundary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-terciary);
    margin: 0px 20px;
    transition: all 300ms;
}

.btn_quote:hover{
    color: white;
    background: var(--color_text-terciary);
}
.menu .Social_media{
    margin: 0px 10px;
}

.menu .Social_media a{
    margin: 0px 4px;
}

.menu .Social_media img{
    width: 40px;
}

/* portada */
.container_cover{
    padding-top:100px ;
    padding-bottom: 100px;
    background-color: var(--color_text-background);
}


.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items:center;
    padding: 0px 20px;
}

.text_cover{
    width: 100%;
    padding-right: 150px;
}

.text_cover h1{
    font-size: 50px;
    color: var(--color_text-terciary);
}

.text_cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-p)
}

.btn_text{
    display: block;
    width: 120px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background:var(--color_text-terciary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn_text:hover{
    background:transparent;
    border: 2px solid var(--color_text-secundary);
    color: var(--color_text-terciary);
}

/* Estilos de las cartas */
 
.C_container{
  padding-top: 100px;
}

.Primary_card{
max-width: 1200px;
margin: auto;
text-align: center;
padding: 0px 20px;
}

.First_text{
    max-width: 800px;
    margin: auto;
}

.First_text p{
    color: var(--color_text-terciary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.First_text h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.C_container-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.Primary_card{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #ecfeff;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.Primary_card:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.Primary_card h2{
    font-size: var(--text_title_card);
    margin: 40px;
    font-weight: 500;
}

.Primary_card p{
    margin-top: 20px;
}

/* Final de estilos de las cartas */

/* Inicio extra */

.container_coverE{
    padding-top:100px ;
    padding-bottom: 100px;
    background-color:rgb(158, 209, 250);
}

.coverE{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items:center;
    padding: 0px 20px;
}

.text_coverE{
    width: 100%;
    padding-right: 150px;
}

.text_coverE h1{
    font-size: 50px;
    color: var(--color_text-terciary);
}

.text_coverE p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-p)
}

.btn_textE{
    display: block;
    width: 120px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background:var(--color_text-terciary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn_textE:hover{
    background:transparent;
    border: 2px solid var(--color_text-secundary);
    color: var(--color_text-terciary);
}

.img_coverE{
    clip-path: polygon(45% 0, 100% 0, 61% 100%, 0% 100%);
    display: flex;
    justify-content: space-between;
}